[submodule "bsp"]
	path = bsp
	url = https://github.com/radxa/allwinner-bsp.git
	branch = cubie-aiot-v1.4.6
[submodule "src"]
	path = src
	url = https://github.com/radxa/kernel.git
	branch = allwinner-aiot-linux-5.15
[submodule "device"]
	path = device
	url = https://github.com/radxa/allwinner-device.git
	branch = device-a527-v1.4.6
